name: Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '11'
      - uses: android-actions/setup-android@v3
      - run: chmod +x gradlew && ./gradlew :module:assembleRelease
      - uses: actions/upload-artifact@v4
        with:
          name: module
          path: "**/*.zip"
